# secrets.yaml örnek dosyası
# Bu dosyayı ESPHome konfigürasyon klasörünüze kaydedin
# Örnek: /config/esphome/secrets.yaml (Home Assistant)

wifi_ssid: "WiFi_SSID_BURAYA"
wifi_password: "WiFi_SIFRE_BURAYA"

# Opsiyonel - eğer birden fazla WiFi ağınız varsa
# wifi_ssid2: "Ikinci_WiFi_SSID"
# wifi_password2: "Ikinci_WiFi_SIFRE"
